<div style="text-align:center">

  <div class="row">
    <div class="col-md-4">
      <div class="container divhome">
        <div>
          <img src="../assets/images/admin.png" alt="candidate img" class="img-responsive candidateimg">
        </div>
        <a routerLink='/admin'><button class="btn btn-info">Admin</button></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container divhome">

        <div>
          <img src="../assets/images/candidate.png" alt="candidate img" class="img-responsive candidateimg">
        </div>


        <a routerLink='/candidate'>
          <button class="btn btn-info">Candidate</button>
        </a>
      </div>

    </div>
    <div class="col-md-4">
      <div class="container divhome">
        <div>
          <img src="../assets/images/interviewer.png" alt="candidate img" class="img-responsive candidateimg">
        </div>

        <a routerLink='/interviewer'> 
          <button class="btn btn-info">Interviewer</button>
        </a>
        
      </div>

    </div>


  </div>
</div>