
<div *ngIf="!success" class="form-group formarea">
    <form [formGroup]="rForm" class="form" (ngSubmit)="addPost(rForm.value)">
      <div class="container">
        <div class="row column">
  
  
          <div class="container">
            <label class="labels">Email</label>
            <input type="email" formControlName="email" class="form-control" (click)="seterrormsg()">
            <div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">This
              should be in proper format!</div>
  
          </div>


          <div class="container">
            <label class="labels">Password</label>
            <input type="password" formControlName="password" class="form-control" (click)="seterrormsg()">
            <div class="alert alert-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">This
              should have min 5 characters!</div>
  
          </div>

  
  
  <div class="subres">
      <input type="submit" class="btn btn-success sub " value="submit" [disabled]="!rForm.valid" [class.disablepointer]="!rForm.valid" >
      <input type="reset" class="btn btn-warning sub res" value="reset">
      <p class="error">{{wrongCredentialsMsg}}</p>
  </div>
          
        </div>
  
      </div>
  
    </form>
  </div> 

<div *ngIf="success">
  <div class="container table-responsive">
    <h4 class="middle">Hi {{interviewername}}!  <a href="#" class="logout">Log out</a></h4>
        
    
    <table class="table table-hover">
        
      <th>Candidate Name</th>
      <th>Scheduled Time</th>
      <th>Resume</th>
      <th>Introductory video</th>
      <th>FeedBack</th>
      <th> </th>
      <th> </th>
      <tr *ngFor="let mapped of listshow">
          <!-- <td>{{mapped.interviewerName}}</td> -->
        <td>{{mapped.candidateName}}</td>
        <td>{{mapped.date}}  {{mapped.time}}</td>
        <td><button (click)="showresume(mapped.candidateName)" class="btn btn-info">resume</button></td>
        <td><button (click)="showvideo(mapped.candidateName)" class="btn btn-info">Introductory video</button></td>
        
        <td><input type="number" [(ngModel)]="mapped.marks" class="marks" min="0" max="10">/10</td>
       
        <td><button  (click)="evaluate(mapped.candidateName,mapped.marks)" [disabled]="mapped.evaluatedOnce" [class.firstsubmit]="mapped.evaluatedOnce" class="btn btn-info" >submit</button></td>
        <td><label [class.hide]="!mapped.evaluatedOnce">You have already evaluated! </label><button  (click)="evaluate(mapped.candidateName,mapped.marks)" [disabled]="!mapped.evaluatedOnce" [class.firstsubmit]="!mapped.evaluatedOnce" class="btn btn-info">update</button></td>
        <td [class.hide]="!emptymarks" [class.colorred]="!emptymarks">Field can'nt be submitted empty!</td>
      </tr>
    </table>
    
    </div>
    <div  class="row show">
      <div *ngIf="activeVideo" class="col-sm-6 border">
        <h6 class="middle">Introductory Video of {{showvideoof}}</h6>
          <video controls>
              <source src={{videopath}} type="video/mp4">
              Your browser does not support the video tag.
            </video>
          
      </div>
      <div *ngIf="activeresume" class="col-sm-6 border">
        <h6 class="middle">Resume of {{showresumeof}}</h6>
          <iframe [src]="resumepath | safe">

            </iframe>
          
        </div>
    </div>
  

    

</div>
  