<div class="form-group formarea">
  <form [formGroup]="rForm" class="form" (ngSubmit)="addPost(rForm.value)">
    <div class="container">
      <div class="row column">

        <div class="container">
          <label>Select Candidate</label>
          <select class="form-control" id="candidateSelected" formControlName="candidateSelected">
            <option *ngFor="let candidateSelected of candidatesToAssign" [value]="candidateSelected">{{candidateSelected}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="!rForm.controls['candidateSelected'].valid && rForm.controls['candidateSelected'].touched">This
            is required!</div>
        </div>

        <div class="container">
          <label class="labels">Select Interviewer</label>
          <select class="form-control" id="interviewerSelected" formControlName="interviewerSelected">
            <option *ngFor="let interviewerSelected of interviewer" [value]="interviewerSelected.name">{{interviewerSelected.name}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="!rForm.controls['interviewerSelected'].valid && rForm.controls['interviewerSelected'].touched">This
            is required!</div>
        </div>


        <div class="container">
            <label class="labels">Scheduled Date & Time</label>
            <div class="row">
              <div class="col-md-6">
                  <input type="date" formControlName="date" class="form-control">
              </div>
              <div class="col-md-6">
                  <input type="time" formControlName="time" class="form-control">
              </div>
  
            </div>
            
            
            <div class="alert alert-danger" *ngIf="!rForm.controls['time'].valid && rForm.controls['time'].touched">This
              is required!</div>
  
          </div>
  


<div class="subres">
    <input type="submit" class="btn btn-success sub " value="submit" [disabled]="!rForm.valid" [class.disablepointer]="!rForm.valid" >
    <input type="reset" class="btn btn-warning sub res" value="reset">
</div>
        
      </div>

    </div>

  </form>
</div>

<!-- 
<ng-template #formInfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
  </div>
</ng-template> -->